ion-modal#example-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}



ion-modal#example-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal#example-modal ion-toolbar {
  --background: #13203D;
  --color: white;
  height: min-content;
}

ion-header#ion-principal{
  --color:blue;
}
ion-icon#alert{
  font-size: 100px;
  padding: 10px;
  margin-top: 100px;
}
ion-list#formLogin{
  padding: 40px;
  font-weight: 600;
}
.ion-login{
  background-color: white;
}
ion-header#ion-padding{
  background-color: #13203D;
  border-radius: 10px;
  border-color: white;
  border-style: groove;
  padding: 2.5em;
  text-align: center;
  font-family: Monaco, monospace;
}
ion-text#example-text{
  color: white;
}
ion-button#ion-botones{
  margin-top: 20px;
  border-color: white;
}


